@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  font-family: variables.$font-text;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  border-radius: 3px;
  box-shadow: inset 0px -1px 1px rgba(67, 90, 111, 0.2);
  cursor: pointer;

  &:hover:not(:disabled) {
    filter: brightness(0.95);
  }

  &:active:not(:disabled) {
    filter: brightness(0.9);
  }

  &--variant--primary {
    @include mixins.button-style(variables.$color-white, #116ab8, #0788de, variables.$color-border);
  }

  &--variant--danger {
    @include mixins.button-style(variables.$color-white, #d64540, variables.$badge-red-bg-solid, variables.$color-border);
  }

  &--variant--regular {
    @include mixins.button-style(variables.$color-default, #f4f5f7, variables.$color-white, variables.$color-border);
  }

  &--variant--minimal {
    @include mixins.button-style(variables.$color-link, variables.$color-white, variables.$color-white, transparent);
    box-shadow: none;
  }

  &--variant--disabled {
    @include mixins.button-style(variables.$color-default, #425a700f, #425a700f, transparent);
    cursor: not-allowed;
    box-shadow: none;
  }

  &--variant--active {
    @include mixins.button-style(variables.$color-default, #1070ca17, #1070ca17, variables.$color-border);
  }

  &__label {
    display: inline-block;
  }
}
