$color-dark: #234361;
$color-default: #425a70;
$color-muted: #66788a;
$color-link: #1070ca;
$color-border: #435a6f24;
$color-white: #ffffff;

$font-text: 'SF Pro Text';
$font-display: 'SF Pro Display';

$badge-neutral-bg-subtle: #e4e7eb;
$badge-neutral-bg-solid: #425a70;
$badge-neutral-text: #425a70;

$badge-green-bg-subtle: #d4eee2;
$badge-green-bg-solid: #47b881;
$badge-green-text: #00783e;

$badge-blue-bg-subtle: #dbeaf7;
$badge-blue-bg-solid: #1070ca;
$badge-blue-text: #084b8a;

$badge-red-bg-subtle: #fae2e2;
$badge-red-bg-solid: #ec4c47;
$badge-red-text: #bf0e08;

$badge-orange-bg-subtle: #fae3cd;
$badge-orange-bg-solid: #d9822b;
$badge-orange-text: #95591e;

$badge-purple-bg-subtle: #eae7f8;
$badge-purple-bg-solid: #735dd0;
$badge-purple-text: #37248f;

$badge-yellow-bg-subtle: #fbe6a2;
$badge-yellow-bg-solid: #f7d154;
$badge-yellow-text: #7e6514;

$badge-teal-bg-subtle: #d2eef3;
$badge-teal-bg-solid: #14b5d0;
$badge-teal-text: #007489;
