@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf_pro_display/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf_pro_display/SF-Pro-Display-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('./sf_pro_text/SFProText-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('./sf_pro_text/SFProText-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('./sf_pro_text/SFProText-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('./sf_pro_text/SFProText-Bold.ttf') format('truetype');
  font-weight: 700;
}
